# Add these to your printer.cfg file
[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[force_move]
enable_force_move: True

[input_shaper]

# I like to make a symlink from the tapchanger repo to tapchanger in the
# config directory so I include them like this.
[include tapchanger/macros.cfg]
[include tapchanger/homing.cfg] # might need to modify, assumes sensorless
[include tapchanger/tool_detection.cfg]
[include tapchanger/toolchanger.cfg]

# Include whatever you called the configs for each of your tools.
[include Toolhead_T0.cfg]
[include Toolhead_T1.cfg]
