# If you are using CAN, define the board info
[mcu EBBT0]
canbus_uuid: xxxxxxxxxxx

# Extruder Example, change as needed. If this is T1, then should be something like extruder1
[extruder]
step_pin: EBBT0:PD0
dir_pin: !EBBT0:PD1
enable_pin: !EBBT0:PD2
microsteps: 16
full_steps_per_rotation: 200 # Single-turn pulse number (200 is 1.8 degrees, 400 is 0.9 degrees)
rotation_distance: 22.67895 # Driving pulley circumference mm
## Calibration step value: rotation_distance = <old rotation_distance> * <actual extrusion length> / <requested extrusion length>
gear_ratio: 50:10 # Reduction ratio (Galileo gear ratio 7.5:1 and comment out this line; BMG is 50:17, output shaft in front, input shaft in rear)
nozzle_diameter: 0.400 # Nozzle diameter
filament_diameter: 1.750 # filament diameter
heater_pin: EBBT0: PB13 # Extrusion head heating rod control pin setting (e0)
sensor_type: MAX31865 #Generic 3950 #MAX31865 # Sensor model
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
sensor_pin: EBBT0: PA4 # Extrusion head sensor Pin (T_E0)
max_power: 1.0 # Heating rod PWM maximum output power
min_temp: -235 # Minimum temperature of extruder
max_temp: 500 # Maximum temperature of extruder
min_extrude_temp: 150 # The minimum extrusion temperature of the heating rod (the extruder can only perform extrusion when it reaches this temperature)
pressure_advance: 0.04 # Extruder pressure advance parameter
pressure_advance_smooth_time:0.040 # Smooth advancement time - the default value is 0.040
#Nozzle temperature PID calibration command: "PID_CALIBRATE HEATER=extruder TARGET=245
control=pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500


[tmc2209 extruder]
uart_pin: EBBT0: PA15
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0 # Silence threshold (if silence is not required, please change the value to 0)

# Change tool number if needed here
[multi_fan T0_partfan]
pin: EBBT0:PA1

# Change tool number if needed here
[heater_fan T0_hotend_fan]
pin: EBBT0:PA0
# Change extruder tool number if needed here
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5

#Change tool number if needed in the next line, as well ast the last line
[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0

#change the tool numbers to the tool you are configuring, ie T0, T1, etc
[tool T0]
#change this too
tool_number: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
#Change T0_partfan to tool number
fan: multi_fan T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
params_sc_path: [{'y':9.5 ,'z':8}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 28
params_park_y: -71.0
params_park_z: 381.0
params_safe_y: 20.0
# For InputShaper run per tool and enter the frequency here, the type can not
# be changed currently, so the type will be global and shared
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 62.4
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 88.6
params_input_shaper_damping_ratio_y: 0.01

# Change tool number if needed
[tool_probe T0]
pin: ^EBBT0:PB6
tool: 0
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: 0 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder
